# Ignore macOS files
.DS_Store

# VSCode files
.history
.vscode

# ignore binaries per week
/cs-50/week-*/*
# unignore sources per week
!/cs-50/week-*/*.c 
# unignore run scripts per week
!/cs-50/week-*/*.sh 
